<h2 id="title">Welcome to CarSearcher</h2>

<h3>Rental Detail</h3>
{{#each rentaldetails as |rentaldetail|}}
  PickUP:
  <br>
  {{rentaldetail.pickupDate}}
  {{rentaldetail.pickupLocation}}

  <br>
  Return:
  <br>
  {{rentaldetail.returnLocation}}
  {{rentaldetail.returnDate}}

{{/each}}

<h3>Car list</h3>

{{#each cars as |car|}}
  {{#link-to 'cars' car.id}}
    <img src="{{car.vehicleSpecPictureURL}}" width="40px" height="25px" alt="{{car.vehicleSpecDescription}}">
      {{car.vendorName}}
      {{car.vehicleSpecDescription}}
      {{car.vehicleSpecPassengerQuantity}}
      {{car.vehicleSpecDoorCount}}
      {{car.vehicleSpecFuelType}}
      {{car.vehicleSpecDriveType}}
      {{car.vehicleSpecAirConditionInd}}
      {{car.vehicleSpecDriveType}}
      {{car.vehicleSpecTransmissionType}}
      {{car.totalChargeRateTotalAmount}}
      {{car.totalChargeEstimatedTotalAmount}}
      {{car.status}}
 {{/link-to}}<br>
{{/each}}
<br>
{{outlet}}


