<section class="cs-section-rentalDetail">
    <article class="cs-article-rentalDetail">
        <img src="{{model.vehicleSpecPictureURL}}" alt="{{model.vehicleSpecDescription}}">
    </article>
    <article class="cs-article-rentalDetail">
        <ul>
            <li>{{model.vehicleSpecDescription}}</li>
            <li>{{model.totalChargeRateTotalAmount}} {{model.totalChargeCurrencyCode}}</li>
        </ul>
    </article>
    <article class="cs-article-rentalDetail">
        <ul>
            <li>Passengers: {{model.vehicleSpecPassengerQuantity}}</li>
            <li>Doors: {{model.vehicleSpecDoorCount}}</li>
            <li>AirCon: {{model.vehicleSpecAirConditionInd}}</li>
        </ul>
    </article>

    <article class="cs-article-rentalDetail">
        <ul>
            <li>Fuel: {{model.vehicleSpecFuelType}}</li>
            <li>Drive Type: {{model.vehicleSpecDriveType}}</li>
            <li>Transmission: {{model.vehicleSpecTransmissionType}}</li>
        </ul>
    </article>
</section>











